@model FundacionDonandoParaAyudar.Web.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<div class="container text-center mt-4" style="font-style:italic, oblique; font-family:Harabara;">
    <a asp-controller="Foundation" asp-action="Index">
        <img src="~/images/Fundacion/FDPATransparente.png" alt="Editar"
             width="200" height="200" class="img-responsive mt-4" />
    </a>
    <h4 class="text-uppercase text-purple">Cambiar clave</h4>
</div>
<hr />
<div class="row" style="font-style:italic, oblique; font-family:Harabara;">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="OldPassword">Clave actual</label>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">%</span>
                    <input asp-for="OldPassword" type="password" class="form-control" aria-describedby="basic-addon1" />
                    <span asp-validation-for="OldPassword" class="text-warning"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="NewPassword">Nueva clave</label>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">%</span>
                    <input asp-for="NewPassword" type="password" class="form-control" aria-describedby="basic-addon1" />
                    <span asp-validation-for="NewPassword" class="text-warning"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Confirm">Confirmar clave</label>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">%</span>
                    <input asp-for="Confirm" type="password" class="form-control" aria-describedby="basic-addon1" />
                    <span asp-validation-for="Confirm" class="text-warning"></span>
                </div>
            </div>
                <div class="form-group">
                    <input type="submit" value="Cambiar clave" class="btn btn-primary" />
                    <a asp-action="ChangeUser" class="btn btn-success">Regresar</a>
                </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
