
@{
    ViewData["Title"] = "ConfirmEmail";
}


    <div class="container text-center mt-4">
        <img src="~/images/Success.png" alt="Success"
             class="img-responsive" width="170" height="170"/>
        <h2> El correo se confirmó! </h2>
        <p class="text-muted">
            Ahora puedes seguir!
        </p>
    </div>
    <div class="container text-center mt-4"> 
        <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-link active">
            Regresar!
        </a>
    </div>