
@{
    ViewData["Title"] = "ConfirmEmail";
}


    <div class="container text-center mt-4" style="font-style:italic, oblique; font-family:Harabara;">
        <img src="~/images/Success.png" alt="Success"
             class="img-responsive mt-4" width="200" height="200"/>
        <h2> El correo se confirmó! </h2>
        <p class="text-muted">
            Ahora puedes seguir!
        </p>
    </div>
    <div class="container text-center mt-4" style="font-style:italic, oblique; font-family:Harabara;"> 
        <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-link active">
            Regresar!
        </a>
    </div>