@model FundacionDonandoParaAyudar.Web.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}   
    <div class="container" style="font-style:italic, oblique; font-family:Harabara;">
        <div class="row text-center mt-5">
            <div class="col-md-4 offset-md-4">
                <form method="post">

                    <img class="mb-4" src="~/images/Fundacion/FDPATransparente.png" alt="loginFDPA" width="140" height="140">
                    <h1 class="h3 mb-3 font-weight-normal ">Ingresar</h1>
                    <div class="form-group">
                        <div class="input-group-prepend">
                            <label asp-for="Username" class="sr-only">Usuario</label>
                            <span class="input-group-text" id="basic-addon1">@@</span>
                            <input asp-for="Username" type="email" id="inputEmail" class="form-control" placeholder="Usuario"
                                   aria-label="Username" aria-describedby="basic-addon1" required="" autofocus="">
                        </div>
                        <span asp-validation-for="Username" class="text-warning"></span>
                    </div>
                    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

                    <div class="form-group">
                        <div class="input-group-prepend">
                            <label asp-for="Password" class="sr-only">Clave</label>
                            <span class="input-group-text" id="basic-addon1">%</span>
                            <input asp-for="Password" type="password" id="inputPassword" class="form-control" placeholder="Clave"
                                   aria-describedby="basic-addon1" required="">
                        </div>
                        <span asp-validation-for="Password" class="text-warning"></span>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="form-check">
                            <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                            <label asp-for="RememberMe" class="form-check-label">Recuerdame</label>
                        </div>
                        <span asp-validation-for="RememberMe" class="text-warning"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Ingresar" class="btn btn-success" />
                        <a asp-action="Register" class="btn btn-primary">Registrarse</a>
                        <a asp-action="RecoverPassword" class="btn btn-link">Olvidaste tu clave?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
