@{
    ViewData["Title"] = "NotAuthorized";
}

    <div class="container mt-4" style="font-style:italic, oblique; font-family:Harabara;">
        <img src="~/images/error404.png" alt="Error 404" width="200" height="200" />
        <hr />

        <h2 class="text-muted">
        No estás autorizado para realizar esta acción</h2>
    </div>
