@model FundacionDonandoParaAyudar.Web.Models.RecoverPasswordViewModel

@{
    ViewData["Title"] = "Recover Password";
}

<div class="container mt-4 text-center" style="font-style:italic, oblique; font-family:Harabara;">
    <img src="~/images/Fundacion/FDPATransparente.png"
         alt="Logo"
         height="150"
         width="150"
         class="img-responsive mt-4"/>
    <h2 class="active">Recuperar clave</h2>
</div>


<div class="container mt-4" style="font-style:italic, oblique; font-family:Harabara;">
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="Email" class="text-justify"><b>Escribe tu usuario</b></label>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@@</span>
                    <input asp-for="Email" type="email" placeholder="example@example.com" class="form-control"
                           aria-label="Username" aria-describedby="basic-addon1" required="" autofocus="" />
                    <span asp-validation-for="Email" class="text-warning"></span>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Recuperar clave" class="btn btn-primary" />
                <a asp-action="Login" class="btn btn-success">Regresar</a>
            </div>
        </form>
    </div>
        <div class="alert-success" role="alert">
            <p>
                @ViewBag.Message
            </p>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
