@model FundacionDonandoParaAyudar.Web.Models.AddUserViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="container text-center mt-4" style="font-style:italic, oblique; font-family:Harabara;">
    <img class="img-responsive mt-4" src="~/images/Fundacion/FDPATransparente.png" alt="Registrarse"
         height="100" width="100" />
    <h2 class="active text-uppercase">Registrate</h2>
</div>
<hr />
<div class="container" style="font-style:italic, oblique; font-family:Harabara;">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 class="active text-center">Empieza con tu registro</h3>
            <form asp-action="Register" enctype="multipart/form-data" class="mt-4">
                <div class="mb-3">
                    <div class="form-group">
                        <label asp-for="Username" class="control-label">Usuario</label>
                        <div class="input-group mb-3">
                            <input asp-for="Username" class="form-control" placeholder="Usuario"
                                   aria-label="Usuario" aria-describedby="basic-addon2" />
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">@@example.com</span>
                            </div>
                        </div>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>

                <partial name="_User" />

                <div class="mb-3">
                    <div class="form-group">
                        <label asp-for="UserTypeId" class="control-label">Rol</label>
                        <div class="input-group mb-3">
                            <select asp-for="UserTypeId" asp-items="Model.UserTypes" class="form-control"></select>
                        </div>
                        <span asp-validation-for="UserTypeId" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label asp-for="Password" class="control-label">Clave</label>
                            <div class="input-group mb-3">
                                <input asp-for="Password" type="password" class="form-control" placeholder="Ingresa clave" />
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label asp-for="PasswordConfirm" class="control-label">Confirmar clave</label>
                            <div class="input-group mb-3">
                                <input asp-for="PasswordConfirm" type="password" class="form-control" placeholder="Confirmar clave" />
                            </div>
                            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <div class="form-group">
                        <input type="submit" value="Registrarse" class="btn btn-primary" />
                    </div>
                </div>
            </form>
            <div class="mb-3">
                <p class="alert-success" role="alert">
                    @ViewBag.Message
                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}