@{
    ViewData["Title"] = "About";
}

<div class="text-center mt-4">
        <img src="~/images/FDPA.jpg" alt="Contactenos" class="mt-3 img-responsive"
             height="500" />
</div>
<hr />
<div class="container text-center">
    <img src="~/images/news.png" alt="Enterate" class="img-circle"/>
    <br />
    <h2 class="text-uppercase" style="font-style:italic, oblique; font-family:Harabara;">
        Entérate de nosotros
    </h2>
</div>
<hr />
<div class="row">
    <div class="col-md-6 text-center">
        <div class="container">
            <h3 class="text-uppercase text">
                ¿Quiénes somos?
            </h3>
            <hr />
            <p class="text-justify">
                Somos una fundación sin animo de lucro, que busca ayudar a madres
                cabezas de hogar y familias de escasos recursos.

                Nos enfocamos en población en situación de vulnerabilidad, no solo
                con ayudas materiales sino integraciones sociales e interacciones ludico-recreativas.

                <strong> NIT: 901314691</strong>
            </p>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div class="container">
            <h3 class="text-uppercase">
                ¿Qué hacemos?
            </h3>
            <hr />
            <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque venenatis tortor in lectus pellentesque tempus.
                Nullam vitae enim consequat, fringilla tellus id, iaculis elit. In lobortis arcu vitae purus iaculis, in sodales risus
                aliquet. Duis euismod bibendum lobortis. Suspendisse nec tincidunt urna.
                Proin pharetra dignissim diam, vitae venenatis sapien rhoncus vitae. Sed id purus eu eros varius tempus vitae sed metus.
            </p>
        </div>
    </div>
</div>
