@{
    ViewData["Title"] = "About";
}

<div class="container text-center mt-4">
    <div class="container">
        <div class="container">
            <img src="~/images/Fundacion/LOGO FINAL FDPA fondo blanco.png" alt="Contactenos" class="mt-3 img-responsive" />
        </div>
        </div>
    </div>
<hr />
<div class="container text-center">
    <img src="~/images/news.png" alt="Enterate" class="img-circle" />
    <br />
    <h2 class="text-uppercase text-purple" style="font-style:italic, oblique; font-family:Harabara;">
        Entérate de nosotros
    </h2>
</div>
<hr />
<div class="row jumbotron">
    <div class="col-md-12">
        <div class="container">
            <h3 class="text-uppercase text-center" style="font-style:italic, oblique; font-family:Harabara;">
                DE DÓNDE NACIÓ?
            </h3>
            <hr />
            <p class="text-justify">
                Donando para ayudar nace el dia 28 de septiembre del 2016, tras vivir la experiencia de ser madre,
                y ver que se pasa por dificultades, las cuales empeze a ver que se podían encontrar solución,
                teniendo el  apoyo de otras mamas. fue ahi cuando decidi crear un grupo, que luego empezo a crecer
                cada dia mas, convirtiéndose en una red de apoyo, para luego crecer tanto al punto de ayudar a cerca
                de 300 mamas de todo medellin, llegar a hospitales a  hospitales, tragedias tales como el incendio
                del barrio moravia,a sectores vulnerables como veredas, todo con el fin de entregar ayudas, las cuales
                se recolectan gracias a todas las mamas y personas que aun tienen nobleza en su corazón y aman ayudar a los demás,
                brindando un poco de lo que tienen para quien lo necesita.
            </p>

        </div>

    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6 text-center">
        <div class="container">
            <h3 class="text-uppercase" style="font-style:italic, oblique; font-family:Harabara;">
                Quiénes somos?
            </h3>
            <hr />
            <p class="text-justify">
                Somos una fundación sin animo de lucro, que busca ayudar a madres
                cabezas de hogar y familias de escasos recursos.

                Nos enfocamos en población en situación de vulnerabilidad, no solo
                con ayudas materiales sino integraciones sociales e interacciones ludico-recreativas.

                <strong> NIT: 901314691</strong>
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container">

            <h3 class="text-uppercase text-center" style="font-style:italic, oblique; font-family:Harabara;">
                Qué hacemos?
            </h3>
            <hr />
            <p class="text-justify">
                Donando para ayudar fue creado con el fin  de solventar un poco las necesidades de aquellas madres,
                y familias de escasos recursos, en aquellos momentos de  dificultad, también realizamos campañas para lugares vulnerables,
                donde resaltamos los valores  que  se deben de  seguir inculcando en nuestros niños, jóvenes y adultos.
            </p>
            <a asp-action="Index" asp-controller="Foundation" class="btn btn-link">
                <p class="text-right"> <b>Ver todos los programas</b></p>
            </a>
        </div>
    </div>
</div>
<hr />
<div class="row jumbotron">
    <div class="col-md-6 text-center">
        <div class="container">
            <h3 class="text-uppercase" style="font-style:italic, oblique; font-family:Harabara;">
                VISIóN
            </h3>
            <hr />
            <p class="text-justify">
                En DONANDO PARA AYUDAR, queremos ser una fundación reconocida por el apoyo brindado
                a familias, sectores e instituciones de bajos recursos, y la atención de casos específicos de vulnerabilidad,
                brindando oportunidades de mejorar su situación en los momentos que más lo requieran.


            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container">
            <h3 class="text-uppercase text-center" style="font-style:italic, oblique; font-family:Harabara;">
                Misión
            </h3>
            <hr />
            <p class="text-justify">
                En donando para ayudar queremos llegar a lugares que requieren de apoyo, brindarles
                un acompañamiento y ayudas tales como vestuario, calzado y alimentación básica,
                queremos resaltar la importancia de la familia, ya que es allí donde nacen todos
                los valores para instruirnos en la vida, poder multiplicar nuestros conocimientos
                y ayudar cada día a más personas.
            </p>

        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6 text-center">
        <div class="container">
            <h3 class="text-uppercase" style="font-style:italic, oblique; font-family:Harabara;">
                VALORES
            </h3>
            <hr />
            <div class="text-center">
                <p class="text-justify text-center">
                    <b>
                        	INTEGRIDAD<br />
                        	DIGNIDAD<br />
                        	RESPETO<br />
                        	HONRADEZ<br />
                        	TRANSPARENCIA<br />
                        	AMOR<br />
                        	ALTRUISMO
                    </b>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container">
            <h3 class="text-uppercase text-center" style="font-style:italic, oblique; font-family:Harabara;">
                OBJETIVOS
            </h3>
            <hr />
            <p class="text-justify">
                ●	Proporcionar ayudas a familias con dificultades económicas<br />
                ●	Hacer acompañamiento a familias, barrios e instituciones para proporcionar ayudas tales como vestuario, calzado e integraciones sociales<br />
                ●	Fortalecer vínculos entre familias, y motivar a apoyarse unas a otras<br />
                ●	Brindar un espacio de interacción de familias donde se brindan ayudas y recreación<br />
                ●	Realizar campañas para fechas especiales, tales como navidad, educación, fechas de los niños, entre otras<br />
                ●	Realizar actividades con familias de escasos recursos, para recalcar valores, y  temas de fortalecimiento social,educativo e integral.
                realizando motivación a continuar con sus proyectos de vida y sueños.
            </p>

        </div>
    </div>
</div>
<hr />

<div>
    <p class="text-success">
        @ViewBag.Message
    </p>
</div>
