
@{
    ViewData["Title"] = "Error404";
}

<div class="container mt-4" style="font-style:italic, oblique; font-family:Harabara;">
    <img src="~/images/error404.png" alt="Error 404"  class="img-responsive mt-4"/>
    <hr />

    <h2 class="text-muted text-center">
        Lo sentimos, no se encuentra la página
    </h2>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-link text-center ">
        Click aquí para regresar
    </a>
</div>
