@{
    ViewData["Title"] = "Privacy Policy";
}

    <div class="container mt-4 text-center">

        <h2>Politicas de privacidad</h2>
        <img src="~/images/UnderConstruction.png" alt="Bajo construccion" 
             width="500" height="500" class="img-responsive"/>
    </div>
