@{
    ViewData["Title"] = "Privacy Policy";
}

    <div class="container mt-4 modal-title text-center" style="font-style:italic, oblique; font-family:Harabara;">
        <img src="~/images/UnderConstruction.png" alt="Bajo construccion"
             width="250" height="250" class="img-responsive mt-4" />
        <hr />
        <h2>Politicas de privacidad</h2>
    </div>
