@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container mt-4 modal-title text-center" style="font-style:italic, oblique; font-family:Harabara;">
    <img src="~/images/UnderConstruction.png" alt="Bajo construccion"
         width="250" height="250" class="img-responsive mt-4" />
    <hr />
    <h1>Politicas de privacidad</h1>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="container">
            <h3 class="text-uppercase text-center" style="font-style:italic, oblique; font-family:Harabara;">
                CAPÍTULO I <br /><br />
                DENOMINACIÓN, NATURALEZA, DOMICILIO Y DURACIÓN
            </h3>
            <p class="text-justify">
            <p class="font-weight-bold">ARTÍCULO 1. DENOMINACIÓN.</p>
            La persona jurídica será́ una fundación y se denominará FUNDACIÓN
            DONANDO PARA AYUDAR, y podrá utilizar las siglas FDPA, es una institución de interés común
            y sin ánimo de lucro.<br /><br />

            <p class="font-weight-bold">ARTÍCULO 2. NATURALEZA JURÍDICA.</p>
            La FUNDACIÓN DONANDO PARA AYUDAR, cuya sigla es FDPA,
            es una persona jurídica de derecho privado que se regula, en primera instancia,
            en lo dispuesto por estos estatutos y en lo pertinente por los artículos 633 a 652 del Código Civil
            colombiano, el Decreto 2150 de 1995 y demás normas concordantes. Se constituye como una ESAL,
            de carácter permanente, independiente, autónoma y de interés general, la cual en adelante y
            para los presentes estatutos se denominará “La Fundación”.<br /><br />
            <p class="font-weight-bold">ARTÍCULO 3. DOMICILIO.</p>
            El domicilio principal de La Fundación es el Municipio de Medellín,
            Departamento de Antioquia, República de Colombia, en la dirección Calle 94 # 55- 134. La Fundación
            podrá establecer sedes y realizar actividades en otras ciudades o municipios del país y del
            exterior.<br /><br />
            <p class="font-weight-bold">ARTÍCULO 4. DURACIÓN.</p>
            La Fundación tendrá́ una duración indefinida, pero podrá́ disolverse
            anticipadamente por las causas que contemplan la ley y estos estatutos.
            </p>

        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="container">
            <h2 class="text-uppercase text-center" style="font-style:italic, oblique; font-family:Harabara;">
                CAPÍTULO II
            </h2>

            <hr />
            <h3 class="text-uppercase text-center" style="font-style:italic, oblique; font-family:Harabara;">
                PRINCIPIOS, OBJETO SOCIAL Y DESARROLLO

            </h3>
            <p class="text-justify">
            <p class="font-weight-bold">Artículo 5. PRINCIPIOS.</p>
            La fundación tendrá́ como principios básicos, los siguientes:<br />
            <strong>a) Dignidad: </strong>
            todas las actividades que desarrolle La Fundación atenderán y velarán por
            el respeto a la dignidad humana.<br />
            <strong>b) Integridad: </strong>
            se actuará y tomará las decisiones con total rectitud y de manera correcta para el
            funcionamiento integró de La fundación.<br />
            <strong>c) Respeto: </strong>
            creemos en el valor de las personas en sí mismas, desde su autonomía, su libertad
            y su desarrollo en condiciones que le hacen ser merecedoras de respeto.<br />
            <strong>d) Honradez: </strong>
            todas las actividades, así como el manejo de recursos serán desarrolladas de manera
            recta, en beneficio del bien común.<br />
            <strong>e) Amor: </strong>
            La Fundación desarrollará en todas sus etapas el amor como sustento de las relaciones
            humanas que permita vínculos con la dignidad y que ayudará a alcanzar los logros y objetivos de La
            Fundación.<br />
            <strong>f) Altruismo: </strong>
            ayudar y servir constructivamente con dedicación y esfuerzo, sin intereses
            particulares, aportando de esta manera a la realización del ser humano en sociedad.<br />
            <strong>g) Solidaridad: </strong>
            La Fundación actuará en la búsqueda de un interés común, mediante el apoyo del
            equipo de trabajo lograremos las metas propuestas con los mejores resultados.<br />
            <strong>h) Transparencia: </strong>
            basamos nuestra labor en la honestidad, la mutua responsabilidad y el máximo
            acceso a la información, como pilares de una rendición de cuentas social y económica ante nuestros
            socios, colaboradores, donantes, beneficiarios y ante la sociedad en general.<br /><br />
            <p class="font-weight-bold">ARTÍCULO 6. OBJETO.</p>
            La Fundación tendrá́ como objeto social ayudar a la población en situación de
            vulnerabilidad física, económica o social; tales  como niños, niñas, adolescentes, personas con
            discapacidad, personas mayores, grupos, comunidades, población en situación de pobreza y pobreza
            extrema, en población urbana, rural o campesina, entre otras; propendiendo así, un  mejoramiento
            en su calidad de vida, mediante la ejecución de programas y proyectos de beneficio social.<br /><br />
            <p class="font-weight-bold">ARTÍCULO 7. DESARROLLO DEL OBJETO.</p>
            Para el desarrollo del objeto social la Fundación podrá:<br />
            <strong>a)</strong>
            Hacer acompañamiento a familias, barrios, comunidades e instituciones proporcionando ayudas
            como vestuario, calzado, alimentos, implementos educativos, etc.<br />
            <strong>b)</strong>
            Fortalecer vínculos entre la población mediante  conferencias, talleres y espacios de
            interacción social.<br />
            <strong>c)</strong>
            Realizar programas para niños, niñas y adolescentes, enfocados en educación, recreación y
            deporte.<br />
            <strong>d)</strong>
            Realizar eventos pro-fondos, tales como conciertos y bazares, de los cuales se destinarán
            para realizar actividades internas y externas de La Fundación.<br />
            <strong>e)</strong>
            Implementar el trabajo en red, desde la formación de líderes comunitarios.<br />
            <strong>f)</strong>
            Realizar formación socio- familiar.<br />
            <strong>g)</strong>
            Realizar actividades de formación y capacitación que proporcionen el desarrollo individual y
            comunitario.<br />
            <strong>h)</strong>
            Valorar el trabajo en equipo y el fortalecimiento de red con incentivos.<br /><br />

            <strong>Parágrafo.</strong> La Fundación para el cumplimiento de su objeto, podrá́ realizar, en todo caso,
            cualquier actividad comercial o civil lícita, participar en otras ESAL o sociedades, asociarse
            con otras personas, ejercer el comercio a través de cualquier medio idóneo, y efectuar todas
            las otras actividades y operaciones económicas, relacionadas directa o indirectamente con el
            objeto social, para el desarrollo del mismo.
            </p>

        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="container">
            <h2 class="text-uppercase text-center" style="font-style:italic, oblique; font-family:Harabara;">
                CAPÍTULO III
            </h2>

            <hr />
            <h3 class="text-uppercase text-center" style="font-style:italic, oblique; font-family:Harabara;">
                FUNDADORES, DERECHOS, DEBERES Y SANCIONES

            </h3>
            <p class="text-justify">
            <p class="font-weight-bold">ARTÍCULO 8. CLASES DE ASOCIADOS.</p>
            Los asociados de La Fundación son de dos tipos:<br />
            <strong>a)</strong>
            Asociados fundadores: para efectos de los presentes estatutos, se consideran asociados fundadores,
            quienes suscribieron los presentes estatutos, el acta de constitución y realizaron su aporte de ingreso.<br />
            <strong>b)</strong>
            Asociados Honorarios: son las personas naturales y jurídicas que por sus actividades y aportes científicos
            y/o económicos, contribuyan de manera significativa al cumplimiento del objeto social de la Fundación.
            Su exaltación se hará́ cumpliendo la reglamentación que expida del consejo de fundadores o la junta directiva.
            Todo miembro honorario podrá́ participar en las actividades de la Fundación, pero en todo caso no tendrá́ derecho
            a voto o privilegios.<br /><br />
            <p class="font-weight-bold">ARTÍCULO 9. DERECHOS.</p>
            Son derechos de los asociados fundadores:<br />
            <strong>a)</strong>
            Participar en las actividades de La fundación conforme a las condiciones que para ellos se establezcan.<br />
            <strong>b)</strong>
            Participar con voz y voto en las reuniones ordinarias y extraordinarias del Consejo de Fundadores.<br />
            <strong>c)</strong>
            Promover programas y proyectos para el logro de los objetivos de la Fundación.<br />
            <strong>d)</strong>
            Elegir y ser elegido como integrante de los comités de trabajo y de la junta directiva cuando corresponda.<br />
            <strong>e)</strong>
            Representar a la Fundación en cualquier evento o vocería institucional temporal o permanente.<br />
            <strong>f)</strong>
            Recibir las publicaciones hechas por La Fundación.<br />
            <strong>g)</strong>
            Recibir autoría de los trabajos ejecutados como integrantes de La Fundación.<br />
            <strong>h)</strong>
            Fiscalizar la gestión económica y administrativa, examinar los libros o documentos y
            solicitar informes al Representante Legal.<br />
            <strong>i)</strong>
            Retirarse voluntariamente de la Fundación según lo prescrito en estos estatutos.<br />
            <strong>j)</strong>
            Proponer reformas de estatutos.<br /><br />
            <p class="font-weight-bold">ARTÍCULO 10. DEBERES.</p>
            Son deberes de los asociados Fundadores:<br />
            <strong>a)</strong>
            Comprometerse a participar en las actividades de La Fundación.<br />
            <strong>b)</strong>
            Utilizar en publicaciones, hojas de vida, correspondencia oficial o de interés para La Fundación su condición
            de integrante de esta organización.<br />
            <strong>c)</strong>
            Solicitar la convocatoria del Consejo de Fundadores, de acuerdo con estos estatutos.<br />
            <strong>d)</strong>
            Cumplir los Estatutos, reglamentos, resoluciones, comisiones o trabajos asignados por el Consejo de Fundadores.<br />
            <strong>e)</strong>
            Velar por la buena imagen de la Fundación.<br />
            <strong>f)</strong>
            Acatar las decisiones tomadas por el Consejo de Fundadores.<br />
            <strong>g)</strong>
            Comprometerse con los principios y fundamentos de la Fundación.<br />
            <strong>h)</strong>
            Abstenerse de retirar elementos o útiles de trabajo, documentos o informes sin la previa autorización del Consejo
            de fundadores.<br />
            <strong>i)</strong>
            Obrar en sus relaciones con La Fundación y la comunidad con ética y lealtad.<br />
            <strong>j)</strong>
            Velar por el buen manejo del patrimonio de La fundación.<br />
            <strong>k)</strong>
            Representar con responsabilidad la participación de la fundación en cualquier evento al que asista en nombre de
            esta ESAL.<br />
            <strong>l)</strong>
            Asistir puntualmente presencial o virtual a las reuniones del Consejo de Fundadores y de los comités de trabajo,
            desde la hora fijada para su inicio hasta que se agote el orden del día.<br />
            <strong>m)</strong>
            Las demás impuestas por las disposiciones legales, estatutarias, reglamentarias o los acuerdos de los asociados
            fundadores.<br /><br />
            <p class="font-weight-bold">ARTÍCULO 11. PROHIBICIONES.</p>
            Se prohíbe a los asociados fundadores:<br />
            <strong>a)</strong>
            Intervenir en asuntos que comprometan el respeto debido a la autonomía de los fundadores, su buen nombre o
            prestigio, o el de esta.<br />
            <strong>b)</strong>
            Discriminar, actuando como miembro de la fundación, a personas naturales o jurídicas, por circunstancia de credo
            político, religión, sexo, raza, nacionalidad, origen geográfico, clase o capacidad económica.<br />
            <strong>c)</strong>
            Usar el nombre y demás bienes de La fundación con propósitos diferentes a los objetivos institucionales,
            en beneficio particular o en contravención a las disposiciones estatutarias o reglamentarias.<br />
            <strong>d)</strong>
            Usar las sedes o lugares de desarrollo del objeto social como lugares de reuniones no autorizadas por el Consejo
            de fundadores.<br /><br />
            <strong>Parágrafo:</strong>
            Las conductas que se indican en este artículo, implican para los Fundadores obligaciones de no hacer. Estas conductas
            se consideran faltas graves y originan las sanciones pertinentes dadas por el reglamento interno de los asociados
            fundadores.<br /><br />
            <p class="font-weight-bold">ARTÍCULO 12. RETIRO DE FUNDADORES.</p>
            El retiro voluntario para los fundadores se hará con previa solicitud escrita del interesado al otro socio fundador.<br />

            En el momento de solicitud del retiro voluntario, cuando existan cuentas pendientes para con la fundación, este se podrá́ condicionar al pago de la deuda, de conformidad con lo establecido en el reglamento interno.
            El retiro de los asociados no supondrá́ el reembolso de sus aportes, y así́ lo entienden todos los socios fundadores.<br /><br />
            <p class="font-weight-bold">ARTÍCULO 13. EXCLUSIÓN.</p>
            Se pierde la calidad de fundador y se suspenden los derechos:<br />
            <strong>a)</strong>
            Por muerte, y si es una persona jurídica por su disolución y liquidación.<br />
            <strong>b)</strong>
            Por renuncia.<br />
            <strong>c)</strong>
            Por traicionar los intereses de La Fundación y hacer uso del nombre de la entidad en beneficio personal.<br />
            <strong>d)</strong>
            Por utilizar indebidamente los bienes de La Fundación.<br />
            <strong>e)</strong>
            Por realizar actos que puedan entorpecer los fines de La Fundación.<br />
            <strong>f)</strong>
            Por incurrir en actos que perjudique la estabilidad económica, financiera, administrativa y social de la entidad.<br /><br />
            <strong>Parágrafo:</strong>
            La pérdida de calidad de asociado fundador, la aplicará el Consejo de Fundadores, y solo se podrá́ realizar previa 
            comprobación de las irregularidades cometidas por el implicado en detrimento de la estabilidad y el prestigio de la
            institución, con sujeción al debido proceso, observando los principios del derecho a la defensa, doble instancia, ç
            publicidad y contradicción, legalidad de la prueba, respeto por la dignidad humana, y conforme a su reglamento
            interno, los estatutos y la ley.<br />

            </p>

        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="container">
            <h2 class="text-uppercase text-center" style="font-style:italic, oblique; font-family:Harabara;">
                CAPÍTULO IV
            </h2>

            <hr />
            <h3 class="text-uppercase text-center" style="font-style:italic, oblique; font-family:Harabara;">
                ADMINISTRACIÓN Y DIRECCIÓN

            </h3>
            <p class="text-justify">
            <p class="font-weight-bold">ARTÍCULO 14. ÓRGANOS DE ADMINISTRACIÓN.</p>
            La Fundación tendrá́ los siguientes órganos de dirección, gobierno y control:<br />
            <strong>a)</strong>
            Consejo de fundadores<br />
            <strong>b)</strong>
            Junta Directiva<br />
            <strong>c)</strong>
            Representación legal<br />
            <strong>d)</strong>
            Revisoría fiscal.<br /><br />
            <strong>CONSEJO DE FUNDADORES</strong><br />

            <p class="font-weight-bold">ARTÍCULO 15. CONSEJO DE FUNDADORES.</p>
            Es la máxima autoridad deliberante y decisoria. Sus decisiones son de obligatorio cumplimiento.
            Estará́ constituida por los asociados fundadores que estén en ejercicio de sus derechos.<br /><br />
            <p class="font-weight-bold"> ARTÍCULO 16. FUNCIONES.</p>
            Son funciones del Consejo de Fundadores:<br />
            <strong>a.</strong>
            Aprobar su propio reglamento<br />
            <strong>b.</strong>
            Estudiar y definir los informes que le sean presentados por la Junta, el Representante legal y el Revisor Fiscal.<br />
            <strong>c.</strong>
            Crear sedes o dependencias.<br />
            <strong>d.</strong>
            Ejercer la suprema dirección de La Fundación y velar por el cumplimiento de su objeto social, dar la orientación
            y política generales de sus actividades.<br />
            <strong>e.</strong>
            Reformar los estatutos, para lo cual se requerirá́ de la aprobación de la mayoría absoluta de los asociados
            fundadores con derecho a voto.<br />
            <strong>f.</strong>
            Aprobar los planes y programas que La Fundación va a desarrollar, propuestos para el cumplimiento de su objeto
            social por la Junta Directiva, los asociados y el representante legal.<br />
            <strong>g.</strong>
            Elegir, remover libremente y asignarles remuneración a los miembros de la Junta Directiva.<br />
            <strong>h.</strong>
            Elegir y remover libremente al revisor fiscal por un período de 2 años y asignarle su remuneración.<br />
            <strong>i.</strong>
            Estudiar, aprobar o improbar, con carácter definitivo, el presupuesto anual de ingreso y egreso, y los estados
            financieros e informes de gestión presentados a su consideración por la Junta Directiva.<br />
            <strong>j.</strong>
            Expedir los reglamentos y las disposiciones estatutarias necesarios para el buen funcionamiento de La Fundación,
            en los términos de estos estatutos.<br />
            <strong>k)</strong>
            Decretar la disolución y liquidación de La Fundación por decisión unánime.<br />
            <strong>l.</strong>
            Elegir el liquidador o los liquidadores y señalar la entidad o entidades que hayan de recibir el remanente
            que resulte al hacerse la liquidación.<br />
            <strong>m.</strong>
            Señalar, si lo estima conveniente, los aportes extraordinarios que deben hacer los asociados fundadores y establecer
            las sanciones diferentes de las previstas en estos estatutos, sin que las mismas impliquen reforma estatutaria.<br />
            <strong>n.</strong>
            Ordenar las acciones administrativas y judiciales que correspondan contra los directivos, los administradores y el
            revisor fiscal.<br />
            <strong>o.</strong>
            reconocer, estimular y premiar las acciones de los administradores dignas de reconocimiento.<br />
            <strong>p.</strong>
            Autorizar al representante legal para comprar, vender, o gravar bienes y para celebrar contratos cuyo valor exceda
            los (2) salarios mínimo legales mensuales vigentes.<br />
            <strong>q.</strong>
            Interpretar los estatutos.<br />
            <strong>r.</strong>
            Todas aquellas funciones que no estén asignadas a otro órgano, pudiéndolas delegar en quien estime conveniente.<br /><br />
            <p class="font-weight-bold">Artículo 17. REUNIONES.</p>
            El Consejo de Fundadores deberá́ reunirse ordinariamente una vez al año la primera semana del mes de marzo, para
            recibir el informe del representante legal y para tomar las decisiones y nombramientos concernientes al desarrollo
            de las actividades de la Fundación.<br /><br />
            <p class="font-weight-bold">PARÁGRAFO 1. REUNIONES UNIVERSALES.</p>
            Habrá́ reunión universal cuando estén reunido la totalidad de los miembros del Consejo de Fundadores con derecho a
            voto, razón por la cual no se requerirá́ convocatoria.<br /><br />
            <p class="font-weight-bold">PARÁGRAFO 2. REUNIONES POR DERECHO PROPIO.</p>
            En el evento que no se dé la reunión ordinaria de conformidad con lo establecido en el artículo 18,
            el Consejo de Fundadores podrá́ reunirse por derecho propio el primer día hábil del mes de abril, a las
            10:00 a. m., en las oficinas del domicilio principal de esta. Solo se podrá deliberar si está la totalidad de los
            miembros del Consejo de Fundación.<br /><br />
            <p class="font-weight-bold">PARÁGRAFO 3. REUNIÓN DE SEGUNDA CONVOCATORIA.</p>
            Si se convoca reunión del Consejo de Fundadores y esta no se reúne por falta de quorum, se citará a una nueva
            reunión. La nueva reunión no deberá́ efectuarse antes de los diez (10) días hábiles ni después de los treinta (30)
            días hábiles, contados desde la fecha fijada para la primera reunión.<br /><br />
            <p class="font-weight-bold">ARTÍCULO 18. CONVOCATORIA.</p>
            Las convocatorias para reuniones ordinarias y extraordinarias serán realizadas por el Consejo de fundadores,
            también podrán hacerlo el representante legal o la revisoría fiscal.<br />

            Todas las convocatorias se realizarán por escrito físico o por correo electrónico. Para las reuniones ordinarias,
            la convocatoria se realizará con una antelación de mínimo quince (15) días hábiles, mientras que para las reuniones
            extraordinarias se realizará con mínimo cinco (5) días calendario.<br />
            En la convocatoria para reuniones extraordinarias se especificarán los asuntos sobre los que se deliberará y
            decidirá́, estableciendo así́ el orden del día. Si se desea tratar algún tema adicional, así́ deberá́ decidirlo el
            Consejo de Fundadores, con la aprobación de la totalidad de sus miembros asociados con derecho a voto. <br />
            En las reuniones ordinarias, el Consejo de Fundadores podrá́ ocuparse de temas no indicados en la convocatoria
            a propuesta por cualquiera de los asociados fundadores.<br /><br />
            <p class="font-weight-bold">ARTÍCULO 19. LAS REUNIONES EXTRAORDINARIAS.</p>
            Se efectuarán cuando lo exijan las necesidades imprevistas o urgentes de La Fundación, por convocación del
            Representante Legal, la Junta Directiva, del Revisor Fiscal, o por los mismos socios fundadores.<br /><br />
            <p class="font-weight-bold">ARTÍCULO 20. DECISIONES, QUÓRUM Y MAYORIAS:</p>
            Las decisiones del Consejo de Fundadores, como máximo órgano directivo de la Fundación, se podrá deliberar cuando
            se encuentren la totalidad de los asociados y las decisiones serán tomadas   por el consenso de todos sus miembros.<br /><br />
            <p class="font-weight-bold">ARTÍCULO 21. LIBRO DE ACTAS.</p>
            En un mismo libro, se llevarán las actas del Consejo de fundadores y de la Junta Directiva. Las actas tendrán una
            numeración consecutiva, indicando a qué autoridad de la Fundación corresponde cada una de esas actas.<br /><br />
            <p class="font-weight-bold">ARTÍCULO 22. ACTAS.</p>
            De todas las reuniones quedará un acta, que deberá́ contener el número de la misma; el nombre de la entidad a que
            corresponde; el órgano que se reúne; la naturaleza de la reunión; la indicación del lugar, fecha y hora de la
            reunión; el número de asociados con derecho a voto presentes; la forma, el órgano y la antelación de la convocación;
            la lista de los asistentes con indicación del número de votos propios o ajenos que representen; los asuntos tratados;
            las decisiones adoptadas y el número de votos emitidos en favor, en contra, o en blanco; las constancias escritas
            presentadas por los asistentes durante la reunión; las designaciones efectuadas; la fecha y hora de su clausura;
            la aprobación al texto del acta.
            Las actas deberán ser suscritas por el presidente y secretario de la reunión. En todo caso, el secretario o algún
            representante legal podrá́ expedir copias de las actas.<br /><br />

            <h2>JUNTA DIRECTIVA</h2>
            <p class="font-weight-bold">ARTÍCULO 23. NATURALEZA Y CONFORMACIÓN.</p>
            La Junta Directiva es el órgano de administración, elegido por el Consejo de Fundadores para un período de 2 años,
            Esta integrada por 3 miembros, quienes ocuparan los siguientes cargos:<br />
             •	Presidente (Representante Legal)<br />
             •	Un Secretario<br />
             •	Un Tesorero<br /><br />

            <p class="font-weight-bold">ARTICULO 24. RENUNCIAS.</p>
            Cuando un integrante de la Junta Directiva renuncie, o sin justa causa deje de asistir a 3 reuniones consecutivas
            o  5_ no consecutivas, el Consejo de Fundadores designara su reemplazo entre los candidatos postulados.<br /><br />
            <strong>Parágrafo 1.</strong>
            Cuando por renuncias o inasistencias a la Junta Directiva quede con menos de tres integrantes o quede vacante el
            cargo de Revisor fiscal, se convocará a una Reunión del Consejo de Fundación Extraordinaria. Los convocantes podrán
            proponer candidatos a los cargos vacantes, los cuales serán elegidos por el Consejo de Fundadores de acuerdo al
            artículo 19 y 20 sobre reuniones extraordinarias.<br /><br />
            <strong>Parágrafo 2.</strong>
            Todo cambio o reemplazo de uno o más integrantes de la Junta Directiva se entiende que ocurre para completar
            el período.<br /><br />
            <p class="font-weight-bold">ARTÍCULO 25.  FUNCIONES.</p>
            Son funciones de la Junta Directiva las siguientes:<br />
            <strong>a.</strong>
            Dictar las decisiones y resoluciones, darlas a conocer a los integrantes de la fundación mediante circulares
            u otro medio de información.<br />
            <strong>b.</strong>
            Establecer su propio reglamento interno.<br />
            <strong>c.</strong>
            Crear, suprimir y proveer los empleos o cargos de dirección necesarios para el adecuado funcionamiento de La
            Fundación, fijando funciones, calidades, responsabilidades y asignaciones con la aprobación de los socios fundadores.<br />
            <strong>d.</strong>
            Nombrar los directores de los diferentes organismos internos, quienes se posesionarán ante la representación legal
            comprometiéndose a cumplir las funciones asignadas.<br />
            <strong>e.</strong>
            Estudiar los informes y necesidades de los organismos internos o de los integrantes, tratando de responder a ellas,
            según el presupuesto y los programas aprobados por el Consejo de Fundadores o el determinado por la misma Junta para
            este fin.<br />
            <strong>f.</strong>
            Acordar con el Revisor fiscal, el sistema contable interno de la Fundación.<br />
            <strong>g.</strong>
            Aprobar en primera instancia los informes financieros y de cuentas, aspectos que el representante legal debe presentar
            luego al Consejo de Fundadores.<br />
            <strong>h.</strong>
            Examinar, cuando considere necesario, los archivos y estados financieros de la fundación.<br />
            <strong>i.</strong>
            Convocar a las sesiones del Consejo de Fundadores ordinaria o extraordinaria cuando sea necesario y de la forma
            estipulada anteriormente en estos estatutos.<br />
            <strong>j.</strong>
            Crear y otorgar condecoraciones y estímulos para quienes se hayan distinguido por cooperar con La Fundación.<br />
            <strong>k.</strong>
            Las demás que le correspondan de acuerdo a estos estatutos.<br /><br />

            <p class="font-weight-bold">ARTÍCULO 26. REUNIONES.</p>
            La Junta Directiva sesionará ordinariamente por lo menos, una vez cada 3 meses mediando citación escrita del Presidente
            de la Junta Directiva, con tres (3) días comunes de anticipación y extraordinariamente para atender las situaciones
            urgentes y que requieran atención inmediata, mediando citación escrita del Presidente de la Junta Directiva, con un día
            común de antelación.<br />

            La Junta Directiva se reunirá́ extraordinariamente cuando sea convocada por el Representante Legal, el Revisor Fiscal,
            por tres de sus miembros o el Consejo de fundadores.<br /><br />
            <p class="font-weight-bold">ARTICULO 27. DECISIONES.</p>
            Las Decisiones de la Junta directiva se tomarán, mediante resoluciones y de sus deliberaciones se dejará constancia
            en actas<br /><br />
            <p class="font-weight-bold">ARTÍCULO 28. QUÓRUM.</p>
            El quórum deliberativo lo constituye la asistencia de por lo menos la mitad más uno de sus integrantes y el decisorio,
            el voto favorable de la mitad más uno de sus asistentes. Transcurridos los 15 minutos siguientes a la hora a la cual
            fue citada la sesión, la Junta Directiva podrá́ deliberar y tomar decisiones si hay el quórum decisorio.<br /><br />
            <p class="font-weight-bold">ARTÍCULO 29.  ACTAS.</p>
            De todas las reuniones de la Junta Directiva quedará un acta, que deberá́ contener los mismos requisitos establecidos
            para las actas que trata el artículo 22 de estos estatutos.<br /><br />


            <h2>PRESIDENTE DE LA JUNTA DIRECTIVA</h2>
            <p class="font-weight-bold">ARTÍCULO 30.  ELECCIÓN.</p>
            El Presidente de la Junta Directiva es el Representante legal de La fundación y elegido por el Consejo de fundadores.
            En sus faltas absolutas, temporales o accidentales lo reemplazará quien asigne el Consejo de Fundadores con
            las mismas facultades y limitaciones.<br />
            El Presidente de la Junta Directiva continuará al frente de sus funciones hasta tanto se produzca nueva designación
            y entrega del cargo.<br /><br />
            <p class="font-weight-bold">ARTÍCULO 31. FUNCIONES.</p>
            Son funciones del Presidente de la Junta Directiva:<br />
            <strong>a)</strong>
            Ejercer la función de representante legal de la Fundación.<br />
            <strong>b)</strong>
            Convocar y presidir con los límites que señalan los presentes estatutos, todas las reuniones del Consejo de
            Fundadores, Junta Directiva y actos sociales de la Fundación.<br />
            <strong>c)</strong>
            Velar por los intereses de la Fundación debiendo firmar las actas, contratos, convenios, correspondencia especial,
            memorias y todos los documentos emanados de la Fundación; sin dicha firma tales actos no tendrán validez.<br />
            <strong>d)</strong>
            Establecer acción jurídica a quienes malversen, destruyan o dañen los fondos o bienes de la Fundación.<br />
            <strong>e)</strong>
            Ordenar los gastos y firmar conjuntamente con el Tesorero de la Fundación los pagos, dentro de sus limitaciones.<br />
            <strong>f)</strong>
            Aprobar los actos y contratos que comprometan a la Fundación y los que señalen los estatutos, reglamentos,
            acuerdos de la Asamblea o la Junta Directiva, resoluciones o demás documentos.<br />
            <strong>g)</strong>
            Presentar a la Consejo de Fundadores informe escrito sobre la marcha de la fundación y en las reuniones
            extraordinarias explicaciones sobre los motivos de la convocatoria.<br />
            <strong>h)</strong>
            Hacer cumplir la Ley, los estatutos, los reglamentos internos, los acuerdos del Consejo de Fundadores,
            las resoluciones de la Junta Directiva, y los principios de la fundación.<br />
            <strong>i)</strong>
            Nombrar los funcionarios y cargos que sean necesarios para el funcionamiento de la Fundación.<br />
            <strong>j)</strong>
            Celebrar los actos y los contratos para el desarrollo del objeto social de La Fundación. Cuando estos excedan
            de (2) Salarios Mínimos Legales Vigentes   necesita de autorización del consejo de fundadores.<br />
            <strong>k)</strong>
            Colocar a consideración y aprobación de la Junta Directiva y del Consejo de Fundadores, los planes, programas
            y proyectos de la Fundación.<br />
            <strong>l)</strong>
            Verificar el cumplimiento de los procesos determinados por la Junta Directiva en la formulación y presentación
            de los proyectos.<br />
            <strong>m)</strong>
            Velar que los proyectos se presenten de manera oportuna y con adecuada calidad.<br /><br />


            <h2>SECRETARIO</h2>

            <p class="font-weight-bold">ARTÍCULO 32. FUNCIONES DEL SECRETARIO:</p>
            El Secretario General será́ el responsable de las actas de la Fundación y tendrá́ las siguientes atribuciones y
            funciones.<br />
            <strong>a)</strong>
            Vigilar que se lleve correctamente el archivo o documentos de la Fundación.<br />
            <strong>b)</strong>
            Llevar los libros de las actas del Consejo de Fundadores y de La Junta Directiva.<br />
            <strong>c)</strong>
            Manejar la correspondencia de la entidad.<br />
            <strong>d)</strong>
            Notificar, comunicar y publicar, según el procedimiento que deba seguirse en cada caso, los acuerdos,
            resoluciones, programaciones, boletines y en general divulgar las actividades de la Fundación.<br />
            <strong>e)</strong>
            Comunicar la convocatoria para las reuniones ordinarias y extraordinarias del consejo de fundadores y la Junta
            directiva.<br />
            <strong>f)</strong>
            Llevar en orden alfabético una lista actualizada de los integrantes con su respectiva dirección y teléfono,
            en el libro de integrantes.<br />
            <strong>g)</strong>
            Realizar un inventario general de la Fundación con el Tesorero, donde firmen el documento pertinente.<br />
            <strong>h)</strong>
            Las demás que estos estatutos, el Consejo de fundadores, la Junta Directiva le asignen.<br /><br />


            <h2>TESORERO</h2>
            <p class="font-weight-bold">ARTÍCULO 33. FUNCIONES:</p>
            son funciones del tesorero:<br />
            <strong>a)</strong>
            Recaudar, velar, y custodiar los fondos de La Fundación<br />
            <strong>b)</strong>
            Recibir los aportes de los integrantes de la Fundación, las donaciones y auxilios de entidades privadas o públicas.<br />
            <strong>c)</strong>
            Elaborar el inventario y cuentas de la Fundación conjuntamente con el Secretario y con la supervisión del Revisor
            Fiscal.<br />
            <strong>d)</strong>
            Manejar las cuentas bancarias y los fondos que se encuentre en la fundación.<br />
            <strong>e)</strong>
            Preparar los informes mensuales, semestrales, anuales que debe presentar al Consejo de fundadores.<br />
            <strong>f)</strong>
            Presentar informes al Representante Legal- Presidente de las irregularidades que encuentre en el ejercicio de sus
            funciones.<br />
            Aprobar la apertura y cancelación de cuentas bancarias de conformidad para la custodia de fondos.<br />
            <strong>h)</strong>
            Dar cumplimiento a las órdenes de pago que expida el Presidente<br /><br />

            <strong>Parágrafo: </strong>
            El Tesorero deberá constituir una póliza de manejo hasta por un monto igual a (indique un número de salarios)
            salarios mínimos legales mensuales vigentes.<br /><br />

            <h2>REPRESENTACIÓN LEGAL</h2>

            <p class="font-weight-bold">ARTÍCULO 34.  REPRESENTACIÓN LEGAL.</p>
            La fundación tendrá́ un representante legal. En sus faltas absolutas, temporales o accidentales, lo reemplazará quien
            designe el Consejo de Fundadores, con las mismas facultades y limitaciones. Todos los representantes legales serán
            elegidos por el Consejo de Fundadores, para periodos de (_2) años.<br /><br />

            <p class="font-weight-bold">ARTÍCULO 35. FUNCIONES.</p>
            Son funciones de la representación legal:<br />
            <strong>a.</strong>
            Actuar como representante legal de La Fundación.<br />
            <strong>b.</strong>
            Convocar y presidir, con los límites que señalan los presentes estatutos, todos los Consejos de Fundadores,
            reuniones de la Junta Directiva y actos sociales de la fundación.<br />
            <strong>c.</strong>
            Velar por los intereses de la fundación, debiendo firmar las actas, contratos, convenios, correspondencia especial,
            memorias y todos los documentos emanados de la fundación; sin dicha  firma, tales actos no tendrán validez.<br />
            <strong>d.</strong>
            Establecer acción jurídica a quienes malversen, destruyan o dañen los fondos o bienes de la fundación.<br />
            <strong>e.</strong>
            Ordenar los gastos y firmar conjuntamente con el Tesorero de la Fundación los pagos, dentro de sus limitaciones.
            <strong>f.</strong>
            Aprobar los actos y contratos que comprometan a La Fundación y los que señalen los estatutos, reglamentos,
            acuerdos del Consejo de Fundadores o la Junta Directiva, resoluciones o demás documentos.<br />
            <strong>g.</strong>
            Celebrar los actos y los contratos para el desarrollo del objeto social de La fundación. Cuando estos excedan de (2)
            Salarios Mínimos Legales Vigentes necesita de autorización previa del consejo de fundadores.<br />
            <strong>h.</strong>
            Presentar al Consejo de Fundadores informe escrito sobre la marcha de La Fundación y, en las reuniones extraordinarias,
            dar explicaciones sobre los motivos de la convocatoria.<br />
            <strong>a.</strong>
            Hacer cumplir la ley, los estatutos, los reglamentos internos, los acuerdos del Consejo de Fundadores, las resoluciones
            de la Junta Directiva y los principios de La Fundación.<br />
            <strong>a.</strong>
            Nombrar los funcionarios y cargos que sean necesarios para el funcionamiento de La Fundación, y que no le corresponda
            nombrar a El Consejo de Fundadores y a la Junta Directiva, quedaran bajo su inmediata dependencia, pudiendo delegar en
            ellos las funciones que tenga a bien para el buen manejo de la Fundación.<br />
            <strong>k.</strong>
            Celebrar los actos y los contratos para el desarrollo del objeto social de La Fundación.<br />
            <strong>l.</strong>
            Poner a consideración y aprobación de la Junta Directiva y del Consejo de administración los planes, programas y proyectos
            de La Fundación.<br />
            <strong>m.</strong>
            Verificar el cumplimiento de los procesos determinados por la Junta Directiva en la formulación y presentación de los
            proyectos. Velar por que los proyectos se presenten de manera oportuna y con adecuada calidad.<br /><br />
            <p class="font-weight-bold">ARTÍCULO 36. RESPONSABILIDAD DE LOS ADMINISTRADORES.</p>
            Los administradores de la entidad serán los representantes legales, la Junta Directiva y quienes realicen cualquier
            actividad positiva de gestión, administración o dirección.<br />
            Todos estos deberán actuar en beneficio de la entidad con diligencia y lealtad. En lo que no resulte contrario a la
            naturaleza jurídica de las ESAL se dará́ aplicación a lo dispuesto en la Ley 222 de 1995 frente a la responsabilidad
            de los administradores, o las normas que la deroguen, modifiquen o sustituyan.<br /><br />


            <h2>REVISORÍA FISCAL</h2>
            <p class="font-weight-bold">ARTÍCULO 37. REVISORÍA FISCAL.</p>
            La Fundación tendrá́ un revisor fiscal, que será́ contador público titulado, tendrá́ voz, pero no voto dentro del
            consejo de fundación y no podrá́ ser asociado de la fundación en ninguna de sus modalidades. Será nombrado por el
            consejo de fundadores.<br /><br />
            <p class="font-weight-bold">ARTÍCULO 38. FUNCIONES.</p>
            Son funciones de la revisoría fiscal las siguientes:<br />
            <strong>a.</strong>
            Velar por que se lleven actualizadas la contabilidad, la ejecución presupuestal y las actas.<br />
            <strong>b.</strong>
            Velar por que el Consejo de Fundadores, comités de trabajo e integrantes se ajusten en todos sus actos a las
            normas legales, estatutarias, reglamentarias y a los principios de esta fundación.<br />
            <strong>c.</strong>
            Revisar las actas del Consejo de Fundadores, los libros de contabilidad y registros, la correspondencia, los
            archivos y documentos de la fundación.<br />
            <strong>d.</strong>
            Informar al Consejo de Fundadores sobre la gestión administrativa y financiera de la fundación.<br />
            <strong>e.</strong>
            Convocar al Consejo de Fundadores a reunión extraordinaria cuando los integrantes del Consejo de Fundadores
            contravengan las normas legales, estatutarias o reglamentarias, o en los casos de vacancia.<br />
            <strong>f.</strong>
            Asistir a las reuniones del Consejo de Fundadores.<br />
            <strong>g.</strong>
            Ejercer control, vigilancia y custodiar sobre los fondos y bienes de la Entidad.<br />
            <strong>h.</strong>
            Formalizar los presupuestos anuales así́ como los estados de cuenta y balance de la Entidad.<br />
            <strong>i.</strong>
            Inspeccionar permanentemente los bienes de la fundación y procurar que se tomen medidas de conservación y
            seguridad oportunamente.<br />
            <strong>j.</strong>
            Dar cuenta oportuna al órgano o funcionario competente de las irregularidades que ocurran en el funcionamiento
            de La Fundación y en el desarrollo de sus operaciones.<br />
            <strong>k.</strong>
            Colaborar con las entidades gubernamentales que ejerzan la inspección y vigilancia, además de rendir los
            informes que le sean solicitados.<br />
            <strong>l.</strong>
            Atender lo consagrado en la Ley 43 de 1990 y demás normas relacionadas que le sean aplicables a la naturaleza
            del cargo.<br />
            <strong>m.</strong>
            Las demás que le fijen las normas legales, estatutarias, reglamentarias o el Consejo de Fundadores mediante
            acuerdos.<br /><br />
            <strong>Parágrafo:</strong>
             Cuando el Revisor Fiscal abandone sus funciones sin causa justa, el Consejo de Fundadores, convocará reunión 
            extraordinaria para elegir su reemplazo por el resto del periodo para el cual fue elegido.
            </p>

        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="container">
            <h2 class="text-uppercase text-center" style="font-style:italic, oblique; font-family:Harabara;">
                CAPÍTULO V
            </h2>

            <hr />
            <h3 class="text-uppercase text-center" style="font-style:italic, oblique; font-family:Harabara;">
                PATRIMONIO

            </h3>
            <p class="text-justify">
            <p class="font-weight-bold">ARTÍCULO 39. PATRIMONIO.</p>
            El patrimonio de la Fundación esta constituido por:<br />
            <strong>a)</strong>
            Las cuotas mensuales canceladas por los asociados.<br />
            <strong>b)</strong>
            Aportes económicos, donaciones y cuotas voluntarias de sus asociados fundadores, las cuales podrán realizar
            en cualquier tiempo.<br />
            <strong>c)</strong>
            Donaciones de personas naturales o jurídicas.<br />
            <strong>d)</strong>
            Celebración de contratos para la prestación del servicio.<br />
            <strong>e)</strong>
            Celebración de convenios con personas naturales y jurídicas nacionales o extrajeras de carácter público o privado.<br />
            <strong>f)</strong>
            Celebración de toda especie de actos o contratos autorizados por la Ley y los Estatutos.<br />
            <strong>g)</strong>
            Auxilios, subsidios, aportes, legados, contribuciones, becas, herencias y similares donados por personas naturales
            o jurídicas nacionales o extranjeras, y que la Fundación acepte.<br />
            <strong>h)</strong>
            Bienes que la entidad adquiera a cualquier título, incluyendo donaciones de empresas nacionales o extranjeras.<br />
            <strong>i)</strong>
            Los productos, utilidades, beneficios, rendimientos y rentas obtenidos de sus propios bienes, servicios,
            inversiones o actividades.<br />
            <strong>j)</strong>
            Por todos los bienes muebles e inmuebles, tangibles e intangibles, títulos valores adquiridos o que se adquieran
            por cualquier concepto.<br />
            <strong>k)</strong>
            En general todos los ingresos que ha su nombre se puedan obtener lícitamente.<br /><br />
            <strong>PARÁGRAFO.</strong>
            Patrimonio inicial de LA FUNDACIÓN. La Fundación se constituye con un fondo inicial que asciende a $ 2.000.000
            y se encuentra aportado de la siguiente forma:<br />

            $ 100.000 (CIEN MIL PESOS) por Juan Fernando Rios Vélez <br />
            $ 100.000 (CIEN MIL PESOS) por Kelly Johana Morales<br />

            $ 680.000 Computador portátil HP<br />
            $ 350.000 Impresora<br />
            $ 165.000 Grabadora<br />
            $ 605.000 Amplificación de sonido<br /><br />

            <p class="font-weight-bold">ARTÍCULO 40. ORIGEN DE LOS FONDOS.</p>
            Los Fondos de la Fundación provienen de:<br />
            <strong> a)</strong>
            Los aportes ordinarios y extraordinarios hechos por los Fundadores de la Fundación.<br />
            <strong> b)</strong>
            El producto de contratos o convenios que para la prestación de servicios celebre la Fundación.<br />
            <strong> c)</strong>
            El valor de las donaciones, subsidios, aportes, contribuciones y similares, que por parte de personas naturales
            o jurídicas privadas, regionales, nacionales internacionales o extranjeras se la hagan a la fundación.<br />
            <strong> d)</strong>
            Las utilidades y rentas obtenidas de sus propios bienes.<br />
            <strong> e)</strong>
            En general todos los ingresos que ha su nombre se puedan obtener lícitamente y que cumplan con el objeto social.<br /><br />

            <p class="font-weight-bold">ARTÍCULO 41. DESTINACIÓN PATRIMONIAL.</p>
            Los bienes y fondos de la fundación son indivisibles; ni los fundadores ni persona alguna derivan de la fundación
            ventajas especiales, tampoco recibirán suma alguna por concepto de utilidades o reparto de excedentes.<br />

            Las personas naturales o jurídicas que donen bienes no tendrán dentro de ella preeminencia alguna por el solo hecho
            de la donación.<br />

            Ninguna parte de las utilidades de la fundación ni las valoraciones, provechos, rentas o beneficios que se obtengan
            ingresarán en ningún momento al patrimonio de los integrantes de la fundación, ni aun por razón de liquidación;
            las utilidades serán aplicables, en cuanto no se capitalicen, a los  fines de La Fundación y en caso de
            liquidación se observará lo previsto por las leyes y los estatutos.<br /><br />
            <strong>Parágrafo 1:</strong>
            La Fundación no podrá́ aceptar donaciones, herencias o legados, condicionales o modales, cuando la condición
            o modo contraríen alguna o algunas de las disposiciones estatutarias, o impongan condiciones que impliquen
            limitación o pérdida de su autonomía.<br /><br />
            <strong> Parágrafo 2:</strong>
            Los aportes no son reembolsados y los excedentes no son distribuidos.<br /><br />

            <p class="font-weight-bold">ARTÍCULO 42. DEL PRESUPUESTO.</p>
            El presupuesto de gastos de funcionamiento e inversión de la Fundación será́ presentado por el representante legal,
            para la revisión y aprobación del Consejo de Fundación de cada año, el cual deberá́ ser enviado con la convocatoria
            y será́ ejecutado durante los doce (12) meses siguientes.<br /><br />
            <p class="font-weight-bold">ARTÍCULO 43. APORTES A LA FUNDACIÓN.</p>
            El aporte mensual de sostenimiento de La Fundación será́ dado por los asociados fundadores, según lo dispuesto en estos
            estatutos. Cualquier otra cuota será́ definida por el mismo órgano.<br /><br />
            <p class="font-weight-bold">ARTÍCULO 44. CUOTAS EXTRAORDINARIAS.</p>
            Las cuotas extraordinarias podrán acordarse una sola vez en el ejercicio fiscal y con el exclusivo fin de atender
            una ineludible e imprevista necesidad o realizar una provechosa inversión de beneficio común, dentro de los
            objetivos de la Fundación. El Valor de las cuotas extraordinarias estará́ acorde a la necesidad.<br /><br />
            <p class="font-weight-bold">ARTÍCULO 45. DE LA CONSERVACIÓN Y MANEJO DE LOS BIENES Y FONDOS:</p>
            La guarda, conservación, incremento y manejo de los bienes y fondos de la Fundación están bajo la exclusiva
            responsabilidad del Consejo de Fundadores y para garantizarla se presentaran las finanzas y se podrá tomar los
            seguros para las cuantías que cubran los posibles riesgos. Las primas correspondientes serán pagadas por la
            Fundación.<br /><br />
            <strong>Parágrafo: </strong>
            Los fondos de la Fundación se mantendrán a través de cuentas bancarias, cuentas de ahorro, títulos de captación, 
            CDT, cedulas de capitalización nacional o extranjera abiertas a su nombre; las erogaciones se firmaran por el 
            Representante legal.
            </p>

        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="container">
            <h2 class="text-uppercase text-center" style="font-style:italic, oblique; font-family:Harabara;">
                CAPÍTULO VI
            </h2>

            <hr />
            <h3 class="text-uppercase text-center" style="font-style:italic, oblique; font-family:Harabara;">
                CONTROLES E INFORMACIÓN FINANCIERA Y ADMINISTRATIVA

            </h3>
            <p class="text-justify">
            <p class="font-weight-bold">ARTÍCULO 46. LIBROS DE CONTABILIDAD Y ESTADOS FINANCIEROS.</p>
             La Fundación diligenciará oportunamente su contabilidad en su respectivo contable, aplicando técnica y 
            principios de aceptación general en Colombia, a efecto de presentar oportunamente estados financieros a la
            Junta directiva dentro de los tres meses siguientes a la finalización de cada año calendario, estados
            financieros de propósito general.
            </p>

        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="container">
            <h2 class="text-uppercase text-center" style="font-style:italic, oblique; font-family:Harabara;">
                CAPÍTULO VII
            </h2>

            <hr />
            <h3 class="text-uppercase text-center" style="font-style:italic, oblique; font-family:Harabara;">
                DISOLUCIÓN Y LIQUIDACIÓN

            </h3>
            <p class="text-justify">
            <p class="font-weight-bold">ARTÍCULO 47. CAUSALES DE DISOLUCIÓN.</p>
            La Fundación se disolverá́ teniendo en cuenta las siguientes causales:<br />
            <strong>a.</strong>
            Cuando por decisión unánime del Consejo de Fundación así́ lo decidan.<br />
            <strong>b.</strong>
            Imposibilidad para cumplir los objetivos para los cuales fue creada.<br />
            <strong>c.</strong>
            Cambio por mandato de la ley de los fundamentos de la fundación.<br />
            <strong>d.</strong>
            Por el cese de actividades de la fundación por un período mayor de dos años.<br />
            <strong>e.</strong>
            Por extinción del patrimonio de la fundación.<br />
            <strong>f.</strong>
            Si la autoridad competente cancela la personería jurídica.<br />
            <strong>g.</strong>
            Por apertura de liquidación obligatoria por orden de la autoridad competente; se debe registrar copia de la
            providencia que ordena la disolución o liquidación obligatoria de la entidad.<br />
            <strong>h.</strong>
            Cuando los asociados o el órgano competente han establecido que las causales que dieron surgimiento
            a la ESAL, y que se consideran su finalidad u objeto social, ya se cumplieron; en ese caso se decreta
            la disolución y se procede con la liquidación.<br />
            <strong>i.</strong>
            Cuando el patrimonio contable de la fundación sea negativo. Esta causal de disolución se podrá́ enervar en los
            dos (2) años siguientes al momento en el cual los asociados fundadores tuvieron conocimiento.<br /><br />
            <p class="font-weight-bold">ARTÍCULO 48 LIQUIDACIÓN.</p>
            En caso de disolución, la fundación orientará todos sus actos tendientes a la liquidación de la misma y para
            ello el Consejo de Fundadores designará la persona o personas que actuarán como liquidadores para  finiquitar
            las operaciones. Mientras no se haga, acepte e inscriba la designación de liquidador, actuará como tal el
            representante legal inscrito.<br /><br />
            <p class="font-weight-bold">ARTÍCULO 49. ACTIVIDADES DEL LIQUIDADOR.</p>
            El liquidador, o quien haga sus veces, tendrá́ las facultades de representación, administración y disposición
            necesarias para concluir las operaciones en curso, con las mismas limitaciones señaladas al representante legal.
            En consecuencia, las que superen tales límites deberán ser autorizadas por el Consejo de Fundadores, al igual
            que la provisión de cargos absolutamente in dispensables para efectuar la liquidación.<br />

            El liquidador dará́ cumplimiento a las normas especiales vigentes sobre sesiones de los órganos de dirección
            y sobre la liquidación de personas jurídicas sin ánimo de lucro; publicará tres (3) avisos en un periódico
            de amplia circulación nacional, con un plazo entre uno y otro de quince (15) días, según lo establece el
            artículo 2.2.1.3.13. del Decreto 1066 del 2015; en cada aviso informará el proceso de liquidación e invitará
            a los acreedores a hacer valer sus derechos. Además, elaborará el inventario y avaluó de bienes y derechos cuya
            titularidad corresponda a La Fundación y procederá́ a la cancelación del pasivo de la entidad teniendo en cuenta
            las normas sobre prelación de créditos.<br /><br />

            <p class="font-weight-bold">ARTÍCULO 50. CUENTA FINAL DE LIQUIDACIÓN Y REMANENTES.</p>
            El liquidador someterá́ a consideración del Consejo de fundadores la cuenta  final de la liquidación, donde,
            también deberá́ estar claro el remanente.<br />
            El remanente, una vez atendido el pasivo externo de la entidad, se entregará a una o varias entidades privadas
            sin ánimo de lucro, de preferencia a aquellas en las que tenga participación a cualquier título la Fundación,
            de objeto igual, similar o complementario al de la misma, según decisión del Consejo de Fundadores.<br /><br />

            <p class="font-weight-bold">ARTÍCULO 51. REACTIVACIÓN.</p>
            Estando La Fundación en causal de disolución, podrá́, en cualquier momento, reactivarse y salir del estado de 
            liquidación, siempre que el pasivo externo no supere el 70 % de los activos y que no se hayan entregado los 
            remanentes como lo establece el artículo anterior.

            </p>

        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="container">
            <h2 class="text-uppercase text-center" style="font-style:italic, oblique; font-family:Harabara;">
                CAPÍTULO VIII
            </h2>

            <hr />
            <h3 class="text-uppercase text-center" style="font-style:italic, oblique; font-family:Harabara;">
                REORGANIZACIÓN DE LA FUNDACIÓN

            </h3>
            <p class="text-justify">
            <p class="font-weight-bold">ARTÍCULO 52. TRANSFORMACIÓN O CONVERSIÓN.</p>
            Si el Consejo de Fundación así́ lo considera, podrá́ la FUNDACIÓN transformarse o convertirse en cualquier otra ESAL,
            para lo cual se requerirá́ la aprobación de la totalidad de los asociados fundadores con derecho a voto. En ningún
            caso la transformación podrá́ suponer la posibilidad de la distribución de utilidades, reembolso de aportes o
            ejercicio del derecho de retiro.<br />
            Para el trámite de la transformación o conversión se deberán aprobar unos estados financieros del año en curso que sirvan de base para determinar el patrimonio de La Fundación. Los estados financieros deberán estar autorizados por un contador público. Además, deberá́ cumplir todos los requisitos legales aplicables a la ESAL a la cual se vaya a transformar o convertir.
            En ningún evento la transformación o conversión podrá́ suponer que pasará a ser una entidad con ánimo de lucro.<br /><br />

            <p class="font-weight-bold">ARTÍCULO 53. FUSIÓN O INCORPORACIÓN.</p>
            Será procedente la fusión con otras fundaciones que sean ESAL, siempre que tengan una finalidad similar o igual.
            Para estos efectos se requerirá́ la decisión unánime del Consejo de Fundación.
            Tratándose de sociedades comerciales o civiles, la FUNDACIÓN no podrá́ ser la entidad absorbida, pero sí la
            absorbente, para lo cual se requerirá́ la votación unánime de todos los asociados o fundadores con derecho a voto,
            y la votación de la sociedad absorbida con unanimidad de la totalidad de los votos de las acciones o cuotas en
            circulación; se deberá́ dejar claridad sobre el cambio de naturaleza jurídica a sin ánimo de lucro de esta sociedad 
            absorbida.<br />
            Para efectos de la fusión se seguirán los preceptos establecidos en el Código de Comercio mientras no resulten
            incompatibles con estos estatutos ni con las normas aplicables a las ESAL. En ningún caso será́ procedente 
            el derecho de retiro.<br />
            Salvo que haya transferencia de algún bien que deba formalizarse a través de escritura pública, 
            la fusión aquí́ regulada no requerirá́ de dicha escritura y se prescinde de la publicación en un diario que 
            dispone el artículo 174 del Código de Comercio.
            </p>

        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="container">
            <h2 class="text-uppercase text-center" style="font-style:italic, oblique; font-family:Harabara;">
                CAPITULO IX
            </h2>

            <hr />
            <h3 class="text-uppercase text-center" style="font-style:italic, oblique; font-family:Harabara;">
                REFORMA ESTATUTARIA, CONTROVERSIAS Y VIGILANCIA

            </h3>
            <p class="text-justify">
            <p class="font-weight-bold"> ARTICULO 54. LA REFORMA DE LOS ESTATUTOS.</p>
            Las reformas de estatutos únicamente podrán realizarse a través del Consejo de Fundadores, convocada
            para tal fin y serán aprobadas con el voto favorable de la mayoría absoluta de sus Asociados.<br /><br />

            <p class="font-weight-bold"> ARTÍCULO 55.  SOLUCIÓN DE CONTROVERSIAS.</p>
            Todas las diferencias surgidas entre los miembros, sus directivos y/o representantes legales, así́ como entre estos
            y la Fundación, serán resueltas en primera instancia, a través de una conciliación extrajudicial en derecho que
            será́ tramitada ante la Cámara de comercio de Medellín. Si fracasare la conciliación por cualquier circunstancia,
            se integrará un Tribunal de Arbitramento, que decidirá́ en derecho y funcionará en la Cámara de Comercio de la misma
            ciudad, aplicando sus reglas y procedimientos.<br /><br />

            <p class="font-weight-bold">ARTÍCULO 56. VIGILANCIA Y CONTROL.</p>
            La entidad que ejercerá́ vigilancia y control a La Fundación será́ La Gobernación de Antioquia, delegada a 
            la Dirección de Asesoría Legal y de Control perteneciente a la Subsecretaria Jurídica de la Secretaria General.
            Sus instalaciones se encuentran ubicadas en el Centro Administrativo Departamental José́ María Córdova, 
            calle 42B No.52-106, piso 10, o cina 1014, teléfonos 3839036- 9037 y 3839041 al 9047.

            </p>

        </div>

    </div>
</div>

