@model FundacionDonandoParaAyudar.Web.Data.Entities.FoundationEntity

<div class="form-group">
    <label asp-for="Comments" class="control-label"></label>
    <input asp-for="Comments" class="form-control" />
    <span asp-validation-for="Comments" class="text-danger"></span>
</div>
