@model FundacionDonandoParaAyudar.Web.Data.Entities.FoundationEntity

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Entérate de nuestra fundación</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Usuario
        </dt>
        <dd>
            @User.Identity.Name
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>
