@model FundacionDonandoParaAyudar.Web.Data.Entities.FoundationEntity

@{
    ViewData["Title"] = "Editar";
}

    <div class="container text-center mt-4">
        <a asp-controller="Foundation" asp-action="Index">
            <img src="~/images/fdpaLogin.png" alt="Editar"
                 width="100" height="100" />
        </a>
        <h4>Edita tu comentario</h4>
    </div>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <partial name="_Foundation" />

                <div class="form-group">
                    <input type="submit" value="Editar" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-success">Regresar</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

